<div class="offline-video-wrapper" ng-controller="CoursePlayerCtrl as courseplayervm">
        <div class="container-fluid">
            <div class="row">
                    <div class="col-sm-3 no-padding course-syllabus-section">
                            <div class="video-tab-btn">
                                <ul>
                                    <li class="active">
                                        <a data-target="#course-book" data-toggle="tab"><img src="{{dirname}}/assets/images/cp-icon/Case.png" alt="" class="default-img"><img src="{{dirname}}/assets/images/cp-icon/Case-white.png" alt="" class="active-img"></a>
                                    </li>
                                    <li>
                                        <a data-target="#bookmark" data-toggle="tab"><img src="{{dirname}}/assets/images/cp-icon/Flag.png" alt="" class="default-img"><img src="{{dirname}}/assets/images/cp-icon/Flag-white.png" alt="" class="active-img"></a>
                                    </li>
                                    <li>
                                        <a data-target="#chat" data-toggle="tab"><img src="{{dirname}}/assets/images/cp-icon/chat.png" alt="" class="default-img"><img src="{{dirname}}/assets/images/cp-icon/chat-white.png" alt="" class="active-img"></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="course-book">
                                    <div class="video-tab-content">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default" ng-repeat="section in courseplayervm.course.Sections">
                                                <div class="panel-heading video-course-title" role="tab" id="heading-{{section.Id}}">
                                                    <h4 class="panel-title">
                                                        <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapse-{{section.Id}}" aria-expanded="true" aria-controls="collapse-{{section.Id}}">
                                                                {{section.Title}}
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapse-{{section.Id}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-{{section.Id}}">
                                                    <div class="panel-body" ng-class="{'active' : courseplayervm.lecId == {{ lecture.Id}}}" ng-repeat="lecture in section.Lectures">
                                                        <a target="lectureContent" ng-click="courseplayervm.GetVideo($parent.$index,$index,lecture)">
                                                            <i ng-class="{'fa fa-play-circle': courseplayervm.lecId !== {{lecture.Id}},'fa fa-check-circle': courseplayervm.lecId == {{lecture.Id}}}"></i>{{lecture.Title}}
                                                            <span></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="video-help-section">
                                            <h3>NEED HELP?</h3>
                                            <p>Book a session <span class="green-txt">LIVE</span> with Instructor Name</p>
                                            <div class="video-tutor-img">
                                                <img src="{{dirname}}/assets/images/tutor-img.png" alt="">
                                                <span class="video-tutor-active"></span>
                                            </div>
                                            <button class="video-boxed-btn">Book a Session</button>
                                            <h2>Check instructor’s <span class="green-txt">Profile</span> and other <span class="green-txt">Courses</span></h2>
                                        </div>
                                        <div class="video-list">
                                            <p><a class="vid-prev" ng-click="courseplayervm.PrevNext(false);"><i class="fa fa-arrow-left"></i></a>{{courseplayervm.nextTitle}}<a class="vid-next"ng-click="courseplayervm.PrevNext(true);"><i class="fa fa-arrow-right"></i></a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="bookmark">
                                    <div class="d-table">
                                        <div class="d-table-cell">
                                            <h2>No Bookmark to show now!!!</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="chat">
                                    <div class="d-table">
                                        <div class="d-table-cell">
                                            <h2>Chat is not implemented yet</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                <div class="col-sm-9 no-padding course-video-wrapper">
                    <div class="video-section">
                        <!-- <div class="embed-responsive embed-responsive-4by3"> -->
                                <video ng-click="courseplayervm.PlayPauseVideo();" id="video-place" class="embed-responsive-item" autoplay="autoplay">
                                        <!-- <source ng-src="{{courseplayervm.vidUrl}}" type="video/MP4"> -->
                                </video>
                            <!-- <iframe class="embed-responsive-item" name="lectureContent" allowfullscreen></iframe> -->
                        <!-- </div> -->
                        <a id="video-big-button" ng-click="courseplayervm.PlayPauseVideo();" style="display:none"><i></i></a>
                    </div>
                    <div class="video-top-option">
                        <div class="col-sm-6">
                            <a href="#" class="video-option-trigger" ng-click="courseplayervm.VideoFullScreen()">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                            <h2 class="video-title"><span></span></h2>
                        </div>
                        <div class="col-sm-6">
                            <div class="video-autoplay-option">
                                <span>AUTOPLAY</span>
                                <label class="switch">
                                    <input id="autoplay" ng-model="courseplayervm.autoplay" type="checkbox">
                                    <div class="slider round"><span>ON</span></div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <a id="dashboard-btn" data-target="#" class="dasboard-btn">dashboard</a>
                </div>
            </div>
        </div>
    </div>