    
    <div class="hompage-modal" id="LLloginModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="LLsigninModalLabel">Please Sign in</h5>
                    <p>Sign in to get access to your account</p>
                </div>
                <div class="modal-body">
                    <a href="#" class="fb-btn"><i class="fa fa-facebook"></i>Connect with Facebook</a>
                    <a href="#" class="google-btn"><i class="fa fa-google"></i>Connect with Google</a>
                    <form action="">
                        <input type="text" ng-model="home.email"  name="signin-email" id="signin-pasemails" placeholder="Email"/>
                        <input type="password" ng-model="home.password"  name="signin-pass" id="signin-pass" placeholder="Password"/>
                        <button type="button" class="submit-btn" ng-click="home.Login();" >Sign In</button>
                    </form>
                    <a href="#" class="forgot-btn">Forgot Password? </a>
                </div>
                <div class="modal-footer">
                    <p>Dont have an account? <a href="#LLsignupchooseModal" data-toggle="modal" data-dismiss="modal">Sign up</a></p>
                </div>
            </div>
        </div>
    </div>
